<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">WarScribe</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Units" asp-action="List" asp-route-category="">Все Юниты</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">Фильтры</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown" data-bs-popper="none">
                                <li><a class="dropdown-item" asp-controller="Units" asp-action="List" asp-route-category="HQ">HQ</a></li>
                                <li><a class="dropdown-item" asp-controller="Units" asp-action="List" asp-route-category="Troops">Troops</a></li>
                                <li><a class="dropdown-item" asp-controller="Units" asp-action="List" asp-route-category="Elites">Elites</a></li>
                                <li><a class="dropdown-item" asp-controller="Units" asp-action="List" asp-route-category="Fast Attack">Fast Attack</a></li>
                                <li><a class="dropdown-item" asp-controller="Units" asp-action="List" asp-route-category="Heavy Support">Heavy Support</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Roster" asp-action="Index">Ростер</a>
                        </li>
                    </ul>
                    <form class="d-flex" asp-controller="Units" asp-action="List">
                        <input class="form-control me-2" type="search" placeholder="Юнит" aria-label="Search" name="category">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p class="float-end"><a class="link-dark text-decoration-none" href="">Back to top</a></p>
        <p>© 2021 Крот Евгений, курсовой · <a class="link-dark text-decoration-none" href="https://vk.com/id198587228">Author</a></p>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>   
</body>
</html>